{% extends "layout.html" %}

{% block title %}
    Awards!
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
        <h1>RYM Awards</h1>
    </div>
    <div class="card-body">
        <p>Ever been awarded for being sarcastic, expressing your feelings vividly, or just doing what you are good at. If not, then here is your chance to shine.</p>
        <p>RYM Awards are here to recognize your <i style="color: deepskyblue;">Amazingness</i>. The method is simple and unique.</p>
        <p>Voting is easy... Just <a href="/login">Log in</a>, and head on to <a href="/vote">Vote Now</a>.</p>
        <p>Many award categories will have live events running correspondingly. These will notified on the page shortly. Each event will have a deciding role in the respective awarding category. <br>Also, every season will be themed. This season's theme is our personal favourite <strong>JEE ADVANCED!!</strong></p>
        <h5>This Season's Awards</h5>
        <p><span class="font-weight-bold">The Sarcastic Killer</span>: There is always a person who will get back to you and the teachers, not with a fight or weapons, but with an amazing sarcastic comment. They are the type of people who make people laugh even before they start saying something. The Sarcastic Killer could be a boy or a girl, whoever tickles you more.</p>
        <p><span class="font-weight-bold">The Kickass PUBG Player</span>: PUBG holds a record for most people playing an online game at a particular time. There is always that one friend who must be on that list. To see him/her win the ultimate Chicken Dinner, nominate him now. After all, who doesn’t want to be called The Kickass PUBG Player.</p>
        <p><span class="font-weight-bold">The Top Singer</span>: We all love music, and we simply adore singers. The Top Singer award is for the person with the most beautiful voice, one that can have a great mood changing effect on us. His/Her name might have already crossed your mind. So what are you waiting for, nominate now!</p>
    </div>
    <div class="card-footer text-right">
        <a href="/vote" class="btn btn-success">Vote Now!</a>
    </div>
</div>
{% endblock %}