{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
        <h1>Home</h1>
    </div>
    <div class="card-body">
        <h2 class="text-center">Welcome to RYM!</h2>
        <p>A whole new platform with an absolutely new idea. <strong>Rate Your Mate</strong> is committed to reinventing your online experience. You can now have something more than just an obsolete social media presence.</p>
        <h2 class="text-center">How it works?</h2>
        <p>Rate Your Mate gives you a chance to interact in a new way with your colleagues, peers and classmates through <a href="#" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="home awards">RYM Awards</a>.</p>
        <p>At Rate You Mate you can showcase your talent, rate others, nominate friends for awards and vote them. Not only this, you can post articles and videos which will be shown on our web and social media pages.</p>
        <p><a href="/contact_us">Contact Us</a> to organize RYM Awards and corresponding events for your batch or institute. You can also reach us on our Instagram or Facebook Page.</p>
    </div>
    <div class="card-footer text-right">
        <a href="/awards" class="btn btn-success">Continue</a>
    </div>
</div>
{% endblock %}